.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 20px;

      a {
        color: inherit;
        font-size: 34px; // size of the icons
        //margin-right: 8px; // space between the icons

        &:hover {
          color: blue; // color when the icon is hovered over
        }
      }
    }
  }
}
